{% extends "base.html" %}

{% block title %}Response{% endblock %}

{% block content %}
<div class="container mx-auto my-4">
    <h1 class="text-2xl font-bold mb-4">Your HTTP Request</h1>
    <h2 class="text-xl font-bold mb-3">Headers:</h2>
    <pre class="bg-gray-100 px-2 py-1 my-2 rounded-lg">
        <p class="text-sm">
        {% for key, value in response.headers.items() %}
            {{ key }}: {{ value | safe }}
        {% endfor %}
        </p>
    </pre>

    
    <h2 class="text-xl font-bold mb-3">Body:</h2>
    <pre class="bg-gray-100 px-2 py-1 rounded-lg"></pre>
        {{ response.body | safe }}
    </pre>
    
</div>
{% endblock %}